*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-special-grey;
  background-color: #85b6b6;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
