@mixin font-face($font-family, $font-src, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
