$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

$text-color-special-grey: #444444;
$text-color-special-grey-6: #666666;
$text-color-basic-grey: #f2f2f2;
$text-color-basic-white: #ffffff;
$text-color-basic-black: #000000;
$text-color-special-black-1: #111111;
$text-color-special-black-2: #222222;
$text-color-special-black-3: #3e3e3e;
$text-color-special-black-4: #6b6b6b;
$text-color-basic-green: #68b738;

$bg-basic-white: #ffffff;
$bg-basic-green: #68b738;
$bg-basic-green-2: #5eaa2f;
$bg-basic-grey: #f2f2f2;
$bg-basic-grey-1: #eaeaea;
$bg-special-grey: #d9d9d9;
$bg-special-grey-1: #cdcdcd;
$bg-special-grey-2:#d3d3d3;
$bg-special-grey-3: #e6e6e6;
$bg-special-grey-4: #ebebeb;
$bg-special-grey-6: #666666;
$bg-basic-black: #000000;
$bg-special-black-2: #222222;


$mobile-width: 320px;
$mobile-content-width: $mobile-width - 20px - 20px;
$tablet-width: 768px;
$tablet-content-width: $tablet-width - 70px - 70px;
$desktop-width: 1440px;
$desktop-content-width: $desktop-width - 110px - 110px;
