.additional-products {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
}

.additional-products__wrapper {
  width: $mobile-width;
  padding: 0 20px;
  margin: 40px auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}

.additional-products__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $text-color-basic-black;

  position: relative;
  padding: 0;
  display: inline-block;
  width: unset;

  &::before {
    content: "";
    background-color: $bg-basic-green;
    position: absolute;
    height: 2px;
    top: 12px;
    width: 100vw;
    left: calc(-100vw - 40px);

    @media (min-width: $tablet-width) {
      top: 16px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  &::after {
    content: "";
    background-color: $bg-basic-green;
    position: absolute;
    height: 2px;
    top: 12px;
    width: 100vw;
    left: calc(100% + 40px);

    @media (min-width: $tablet-width) {
      top: 16px;
    }

    @media (min-width: $desktop-width) {
      top: 20px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid $bg-special-grey-1;
}

.additional-products__item {
  border-bottom: 1px solid $bg-special-grey-1;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    border: 1px solid $bg-special-grey-1;
    border-top: unset;
    padding: 26px 38px 28px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 284px;
    grid-template-rows: 1fr;
    justify-content: center;
    border-left: unset;
    border-right: unset;
    padding: 15px 0 16px;
  }
}

.additional-products__item:last-of-type {
  @media (min-width: $desktop-width) {
    border-bottom: 1px solid $bg-special-grey-1;
  }
}

.additional-products__item-title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: $text-color-special-black-2;
  align-self: center;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 11px 0 0;
  }
}

.additional-products__item-description {
  font-family: $primary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: $text-color-special-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    margin: 16px 0 0;
  }
}

.additional-products__item-price {
  justify-self: right;
}

.additional-products__button {
  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
    grid-row: 1;
    align-self: self-start;
    margin: 0 0 0 40px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.additional-products__banner {
  position: relative;
  display: grid;
  grid-template-rows: [banner-row-1] 191px [banner-row-2] auto;
  width: 100%;
  min-height: 290px;
  padding: 0;
  margin: 20px auto;
  background-color: rgba(104, 183, 56, 0.85);
  z-index: -1;
  align-self: start;

  @media (min-width: $tablet-width) {
    grid-template-rows: [banner-r-1] 100%;
    grid-template-columns: [banner-c-1] 1fr [banner-c-2] 1fr;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: [banner-row-1] 150px [banner-row-2] auto;
    grid-template-columns: [banner-column-1] 245px;
    width: 245px;
    min-height: 288px;
    margin: 0;
  }
}


.additional-products__banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  min-height: 290px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background@1x.png");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center center;

  @media (min-width: $tablet-width) {
    min-height: 200px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background-tablet@1x.png");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog-background-desktop@1x.png");
  }
}

.additional-products__banner::after {
  grid-row-start: banner-row-1;
  display: block;
  content: "";
  place-self: center center;
  width: 78px;
  height: 81px;
  background-color: #ffffff;
  mask-image: url("../../icons/stack.svg#gift");
  mask-size: 78px 81px;
  mask-repeat: no-repeat;
  mask-position: center center;

  @media (min-width: $tablet-width) {
    grid-row-start: banner-r-1;
    grid-column-start: banner-c-1;
    place-self: center start;
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: banner-row-1;
    grid-column-start: banner-column-1;
    margin-left: 0;
    transform: none;
    place-self: center center;
  }
}

.additional-products__banner-text {
  grid-row-start: banner-row-2;
  text-align: center;
  padding: 0 55px 10px;
  margin: 0;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $text-color-basic-white;


  @media (min-width: $tablet-width) {
    grid-row-start: banner-r-1;
    grid-column-start: banner-c-2;
    text-align: left;
    align-self: center;
    padding: 10px 180px 10px 0;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: banner-row-2;
    grid-column-start: banner-column-1;
    text-align: center;
    padding: 0 55px 10px;
  }
}

.additional-products__title-wrapper {
  padding: 0;
  margin: 0 auto;
  width: $mobile-content-width;

  @media (min-width: $tablet-width) {
    width: $tablet-content-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
  }
}
