.address {
  padding: 0;
  margin: 26px 0 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.address__street {
  display: block;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.address__city {
  display: block;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
