.address {
  padding: 0;
  margin: 26px 0 0;

  @media (min-width: $tablet-width) {
    padding: 9px 0 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0 0 35px;
  }
}

.address__street {
  display: block;
  line-height: 20px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 20px;
    padding: 0 0 10px;
  }
}

.address__city {
  display: block;
  line-height: 20px;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 9px 0;
  }
}
