.button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $text-color-basic-white;
  text-decoration: none;
  background-color: $bg-basic-green;
  padding: 3px;
  box-sizing: border-box;
}
