.contacts {
  position: relative;
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $bg-basic-white;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;
    background-color: $bg-basic-white;
    width: 565px;
    min-height: 199px;
  }
}

.contacts__wrapper--inner {
  @media (min-width: $tablet-width) {
    background-color: $bg-basic-grey;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-basic-white;
  }
}

.contacts__content {
  width: $mobile-width;
  padding: 0 20px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
  }
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-special-black-1;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
