.contacts {
  position: relative;
  margin: 0;
  padding: 0;
}

.contacts__wrapper {
  @media (min-width: $tablet-width) {
    background-color: $bg-basic-white;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 3;
    background-color: $bg-basic-white;
    width: 565px;
    height: 199px;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.contacts__wrapper--inner {
  @media (min-width: $tablet-width) {
    background-color: $bg-basic-grey;
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-basic-white;
  }
}

.contacts__content {
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 112px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    align-items: start;
    min-height: unset;
    width: $tablet-width;
    padding: 51px 70px 50px;
    column-gap: 250px;
  }

  @media (min-width: $desktop-width) {
    width: unset;
    padding: 51px 70px 50px;
    column-gap: 25px;
  }
}

.contacts__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-special-black-1;
  text-transform: uppercase;
  margin: 26px 0 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 10px 10px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 10px 0;
  }
}

.contacts__address {
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__location {
  position: relative;
  height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.contacts__iframe {
  position: absolute;
  z-index: 2;
  display: block;
  border: none;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.contacts__map {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
