.designed-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.designed-by__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $text-color-special-grey-6;

  &:focus,
  &:hover {
    color: $text-color-basic-green;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
