.designed-by {
  align-self: center;
  padding: 18px 0 0;

  @media (min-width: $tablet-width) {
    align-self: start;
    padding: 0;
  }
}

.designed-by__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 37px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-decoration: none;
  word-break: break-all;
  color: $text-color-special-grey-6;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 115px 32px;
    gap: 21px;
    justify-content: start;
    align-items: center;
    width: 168px;
  }

  &:focus,
  &:hover {
    color: $text-color-basic-green;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}
