.example {
  background-color: $bg-basic-grey;
  padding: 0;

  @media (min-width: $tablet-width) {
    background: linear-gradient(0deg, $bg-basic-grey 462px, transparent 462px, transparent 100%);
    padding-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 85px;
  }
}

.example__wrapper {
  width: $mobile-width;
  padding: 0 20px 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-family: $secondary-font;
  color: $text-color-basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 5px 5px 5px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__list {
  width: 280px;
  height: 70px;
  display: flex;
  gap: 32px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 387px;
    height: 77px;
    gap: 43px;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    gap: 42px;
    grid-column: 1 / 2;
  }
}

.example__term {
  font-family: $secondary-font;
  color: $text-color-basic-black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__caption {
  font-size: 12px;
}

.example__cost {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $text-color-basic-black;
  text-transform: uppercase;
}
