.footer {
  background-color: $bg-basic-grey;
}

.footer__wrapper {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    width: $desktop-width;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0 17px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 128px auto 162px;
    column-gap: 20px;
    padding: 36px 0 34px;
  }
}

.footer__logo-link {
  padding: 0 0 15px;
  text-decoration: none;
  color: $text-color-special-black-1;

  &:focus,
  &:hover {
    color: $text-color-special-black-3;
    outline: none;
  }

  &:active {
    color: $text-color-special-black-4;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__social {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-left: 18px;
  }
}

.footer__designed-by {
  width: 100%;
  padding: 17px 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 168px;
  }
}
