.header {
  position: relative;
}

.header--main {
  @media (min-width: $desktop-width) {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
}

.header__wrapper {
  margin: 0 auto;
  padding: 13px 0 10px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 30px;
    width: $tablet-width;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 55px 0 0;
    width: 1220px;
  }
}

.header__caption {
  display: grid;
  grid-template-columns: 33px auto 34px;
  padding: 0 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    grid-template-columns: 60px 114px 34px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 70px 131px 34px;
  }
}

.header__logo-link {
  opacity: 1;

  &:focus,
  &:hover {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-link--text {
  justify-self: center;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }
}

.header__toggle {
  place-self: flex-start end;
  margin: 9px 0 0;
  border: none;
  background-color: $bg-basic-black;

  width: 18px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#menu-close");
  mask-size: 18px 18px;

  mask-repeat: no-repeat;
  mask-position: center center;
  cursor: pointer;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--open {
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#menu-open");
    mask-size: 24px 18px;
  }
}

// .header__toggle--open {
//   width: 24px;
//   height: 18px;
//   mask-image: url("../../icons/stack.svg#menu-open");
//   mask-size: 24px 18px;
// }

// .header__toggle--close {
//   width: 18px;
//   height: 18px;
//   mask-image: url("../../icons/stack.svg#menu-close");
//   mask-size: 18px 18px;
// }

.header__toggle--nojs {
  display: none;
}

@media (min-width: $tablet-width) {
  .header__toggle {
    display: none;
  }
}
