/* stylelint-disable @stylistic/block-closing-brace-space-after */
/* stylelint-disable block-no-empty */

.header {
  background-color: #663399;
  color: #ffffff;
  padding: 10px 15px;
}

.header__logo-link { }
