.hero {
  position: relative;
}

.hero::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  height: 302px;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover, cover;
  background-position: center center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    left: 50%;
    right: 0;
    width: 50%;
    height: 694px;
    background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover, cover;
    background-position: center center;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: $secondary-font;
  color: $text-color-basic-white;
  font-weight: 400;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px 20px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    width: $tablet-width;
    padding: 0 30px 1px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 694px;
    padding: 0 110px;
  }
}

.hero__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  padding: 0;
  margin: 27px 0 26px;

  @media (min-width: $tablet-width) {
    color: $text-color-basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 36px 20px 20px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 240px 0 0 90px;
  }
}

.hero__description {
  line-height: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 28px;

  @media (min-width: $tablet-width) {
    color: $text-color-basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 20px 20px 21px 90px;
  }

  @media (min-width: $desktop-width) {
    margin: 60px 0 0 90px;
  }
}

.hero__image {
  display: flex;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    max-width: 709px;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-30%);
    z-index: -1;
  }
}

.hero__link {
  min-width: 280px;
  min-height: 40px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 266px;
    left: 120px;
    min-width: 242px;
    min-height: 54px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin: 60px 0 0 90px;
  }
}
