.hero {}

.hero__wrapper {}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-color-basic-white;
}

.hero__description {
  font-family: $secondary-font;
  color: $text-color-basic-white;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero__link {}

.hero__link.button {}
