/* stylelint-disable @stylistic/block-closing-brace-space-after */
/* stylelint-disable block-no-empty */

.more-products {}

.more-products__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-color-special-black-1;
}

.more-products__text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-special-grey;
}

.more-products__button {
  background-color: $bg-basic-grey;
  color: $text-color-special-grey;
}
