/* stylelint-disable @stylistic/block-closing-brace-space-after */
/* stylelint-disable block-no-empty */

.navigation-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.navigation-list__item {
  text-align: center;
}

.navigation-list__item--current {}

.navigation-list__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-basic-black;
  text-transform: uppercase;
  text-decoration: none;
}
