.navigation-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 10px;
  background-color: $bg-basic-white;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 10px 0;
    row-gap: 10px;
    background-color: transparent;
  }
}

.navigation-list__item {
  border-bottom: 1px solid $bg-special-grey-3;
  word-break: break-all;
  width: 100%;
  text-align: center;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    width: auto;
    text-align: unset;
    padding: unset;
    border-bottom: unset;
  }
}

.navigation-list__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $text-color-basic-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.navigation-list--main .navigation-list__link {
  @media (min-width: $desktop-width) {
    color: $text-color-basic-white;
  }
}
