.navigation {
  position: relative;
  width: 100%;
}

.navigation--opened .navigation__wrapper {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: $bg-basic-white;
  border-top: 1px solid $bg-special-grey-3;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    border-top: unset;
  }
}

.navigation--closed .navigation__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
