/* stylelint-disable @stylistic/block-closing-brace-space-after */
/* stylelint-disable block-no-empty */

.partnership {}

.partnership__wrapper {}

.partnership__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color-special-black-1;
  text-transform: uppercase;
}

.partnership__contacts {
  font-family: inherit;
  font-size: inherit;
  line-height: 20px;
  color: inherit;
  font-style: normal;
}
