.product-parameters {
  list-style: none;
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
}

.product-parameters__item {}

.product-parameters__name {}

.product-parameters__value {}
