.products {
  width: 100%;
  border-top: 1px solid $bg-special-grey-3;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px;
    margin: 0 auto;
    border-top: unset;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
  }
}

.products__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: $mobile-width;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    width: $tablet-width;
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-content-width;
    padding: 20px 0;
  }
}
