.product-parameters {
  font-family: inherit;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
}

.product-parameters__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-parameters__name {
  justify-self: start;
}

.product-parameters__value {
  justify-self: end;
}
