/* stylelint-disable @stylistic/block-closing-brace-space-after */
/* stylelint-disable block-no-empty */

.slider {
  position: relative;
}

.slider__image {}

.slider__image.slider__image--before {}

.slider__image.slider__image--after {}

.slider__toggle {
  position: relative;
  top: 0;
  left: 0;
  width: 4px;
  height: 256px;
  padding: 0;
  margin: 0;
  background-color: #666666;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bg-basic-green;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}

.slider__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
}

.slider__toggle:focus::before,
.slider__toggle:hover::before {
  border: 2px solid $bg-basic-green;
}

.slider__toggle:active::before {
  border: 2px solid #5eaa2f;
}


.slider__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#slider-arrows");
  mask-size: 24px 18px;
  background-color: #666666;
}

.slider__toggle:focus::after,
.slider__toggle:hover::after {
  background-color: $bg-basic-green;
}

.slider__toggle:active::after {
  background-color: #5eaa2f;
}
