.slider {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.slider__image {
  display: block;
}

.slider__image--before {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
}

.slider__image--after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.slider__toggle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-51%);
  width: 4px;
  height: 256px;
  padding: 0;
  margin: 0;
  background-color: #666666;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  &:hover,
  &:focus {
    background-color: $bg-basic-green;
    outline: none;
  }

  &:active {
    background-color: #5eaa2f;
    opacity: 0.6;
  }
}

.slider__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
}

.slider__toggle:focus::before,
.slider__toggle:hover::before {
  border: 2px solid $bg-basic-green;
}

.slider__toggle:active::before {
  border: 2px solid #5eaa2f;
}


.slider__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 18px;
  mask-image: url("../../icons/stack.svg#slider-arrows");
  mask-size: 24px 18px;
  background-color: #666666;
}

.slider__toggle:focus::after,
.slider__toggle:hover::after {
  background-color: $bg-basic-green;
}

.slider__toggle:active::after {
  background-color: #5eaa2f;
}
